# Byte-compiled / optimized / DLL files
__pycache__/

# IDE files
.idea/
code/praw.ini

# Markdown Parsing
code/Snoomark README.md

# comrak
code/comrak/target/
code/comrak/Cargo.lock
code/comrak/.editorconfig
code/comrak/.gitmodules
code/comrak/.travis.yml
code/comrak/Cargo.toml
code/comrak/hooks/
code/comrak/Makefile
code/comrak/rustfmt.toml
code/comrak/script/
code/comrak/spec_out.txt
code/comrak/vendor/

# pulldown-cmark
code/pulldown-cmark/target/
code/pulldown-cmark/Cargo.lock
code/pulldown-cmark/Cargo.toml
code/pulldown-cmark/specs/
code/pulldown-cmark/tests/
code/pulldown-cmark/third_party/
code/pulldown-cmark/tools/
