# Byte-compiled / optimized / DLL files
__pycache__/

# IDE files
.idea/
code/praw.ini

# Markdown Parsing
snoomark-binding-master.zip
code/Snoomark README.md
code/comrak.zip
code/comrak/
code/pulldown-cmark.zip
code/pulldown-cmark/