# Byte-compiled / optimized / DLL files
__pycache__/

# Test output files
output/

# IDE files
.idea/
code/praw.ini

# Markdown Parsing
code/Snoomark README.md

# comrak
code/comrak/target/
code/comrak/Cargo.lock
code/comrak/.editorconfig
code/comrak/.gitmodules
code/comrak/.travis.yml
code/comrak/Cargo.toml
code/comrak/hooks/
code/comrak/Makefile
code/comrak/rustfmt.toml
code/comrak/script/
code/comrak/spec_out.txt
code/comrak/vendor/
code/comrak/src/tests.rs
code/comrak/src/strings.rs
code/comrak/src/scanners.rs
code/comrak/src/parser/table.rs
code/comrak/src/parser/mod.rs
code/comrak/src/parser/inlines.rs
code/comrak/src/nodes.rs
code/comrak/src/main.rs
code/comrak/src/lib.rs
code/comrak/src/entity.rs
code/comrak/src/ctype.rs
code/comrak/src/cm.rs
code/comrak/src/arena_tree.rs

# pulldown-cmark
code/pulldown-cmark/target/
code/pulldown-cmark/Cargo.lock
code/pulldown-cmark/Cargo.toml
code/pulldown-cmark/specs/
code/pulldown-cmark/tests/
code/pulldown-cmark/third_party/
code/pulldown-cmark/tools/
code/pulldown-cmark/src/entities.rs
code/pulldown-cmark/src/escape.rs
code/pulldown-cmark/src/html.rs
code/pulldown-cmark/src/lib.rs
code/pulldown-cmark/src/parse.rs
code/pulldown-cmark/src/passes.rs
code/pulldown-cmark/src/puncttable.rs
code/pulldown-cmark/src/scanners.rs
code/pulldown-cmark/src/utils.rs
